/*Question 2*/
body{
    background-image: url("../assets/images/dark-wood2.jpg");
    font-family: sans-serif;
    margin: 0px;
    display: flex; /*Question 3.c*/
    justify-content: center;/*Question 3.c*/
}
/*Question 3*/
.container{
    width: 950px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color : #8A793D;;
}
/*Question 4*/
.content{
    line-height: 1.4;
    padding: 10px;
}
/*Question 5*/
header, nav, footer{
    background-color: #45380c;
    color: #ccb45e;
}
/*Question 6*/
nav ul{
    margin : 0px;
    padding: 5px;
}
/*Question 7*/
nav ul li{
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
}
/*Question 8 and 9*/
a:link, a:visited{
    text-decoration: none;
    color: #ccb45e;
}
a:hover{
    color: #fff;
}
a:active{
    color: #fff;
}
/*Question 10*/
h1, h2, h3{
    margin: 10px;
    text-transform: uppercase;
    color:#4b3d0d
}
/*Question 11*/
.img-center {
    display: block;
    margin: 5px auto;
    padding: 2px;
}
/*Question 12*/
video{
    display: block;
    margin: 10px auto;
}
/*Question 13*/
table{
    width: 800px;
    border-collapse: collapse;
    display: block;
    margin: 10px auto;
}
/*Question 14*/
td, th{
    border: 1px solid #ccb45e;
    padding: 2px 5px 2px 5px;
    background-color: #a8944a;
}
/*Question 15*/
table th, tfoot td{
    text-transform: uppercase;
    background-color: #45380c;    
    color: #ccb45e;
}
/*Question 16*/
dt{
    font-weight: bold;
}
/*Question 17*/
footer{
    font-size: 80%;
    text-align: center;
    padding: 1px 0px 1px 0px;
}
/*Question 18*/
iframe{
    margin: 10px auto;
    display: block;
}
/*Question 19*/
fieldset{
    width: 500px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccb45e;
    background-color: #a8944a;
}
/*Question 20*/
legend{
    font-style: italic;
    background-color: #45380c;    
    color: #ccb45e;
    margin: 0px 10px 0px 10px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #ccb45e;
    border-radius: 5px;
}
/*Question 21*/
button[type="submit"]{
    padding: 5px;
    background-color: #45380c;    
    color: #ccb45e;
    border: 1px solid #ccb45e;
    border-radius: 7px;
    cursor: pointer;
}
/*Question 22*/
button[type="submit"]:hover{
    background-color: #ccb45e;    
    color: #45380c;
    cursor: pointer;
}